<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:musicien.properties"/>
    <bean id="monMusicien" class ="com.springDemo.Violoniste">
    	<constructor-arg ref="unPreparationServise"></constructor-arg>
    </bean>
    <bean id="unBatteur" class ="com.springDemo.Batteur">
    	<property name="prepareService" ref="unPreparationServise"></property>
    	<property name="emailAddresse" value="${email}"></property>
    	<property name="site" value="${site}"></property>
    </bean>
   
    <bean id="unPreparationServise" class ="com.springDemo.ZenPreparation"></bean>
    
    </beans>