h1 {
  color: red;
}
span {
  color: red;
}
/* table {
  border: 1px solid #333;
  border-collapse: collapse;
  display: inline-block;
}
tr {
  display: block;
  width: 25%;
  float: left;
}
th {
  background: #ddd;
  color: #333;
  border: 1px solid #333;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
td {
  border: 1px solid #333;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  white-space: nowrap;
} */
