
<h1>titre h1 - css global </h1>
<span id ="id" >une balise span (css global appliqué en vert) </span> <br>
<img src="assets/images/angular_logo.png" width="100 px"
height="100px"/> <br>
<p>un paragraphe p</p>
<span class="spane" >une autre balise span (css global appliqué en vert)</span><br>
<div> </div>


<br/>
<br/>
<p *ngFor="let employe of employes" style="border:1px solid black;" >
    <span >{{employe.id}} </span> <br>
    <span >{{employe.name}} </span><br>
    <img src="{{employe.picture}}" width="100 px" height="100px" (click)="selectEmploye(employe)"/> <br>
    <span> {{employe.birthDate}}</span>
</p>