.logo{
text-align: center;
margin: 1rem;

}

.nav{
    width: 90%;
    margin: auto;
    display: table;
    margin-bottom: 1rem;

}
.nav ul{
    display: table-row;
}
.nav li { 
    display: table-cell;
    background-color: #85929e;
    font-family: 'PT Sans Narrow', sans-serif, bold;
    padding: 0px;
    text-align: center;
}
.nav li:hover { 
    background-color: #e5e2e2;
    
    
}
.nav a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 10px 0px 10px 0px;
}

#reserver {
    background-color: #ccb861;
    color: white;
}
#reserver:hover {
    background-color: #baa64e;
}
#reserver a {
    
    color: white;
}
.slides{
    width: 100%;
    text-align: center;
    animation-name:  opacityAnimation;
    animation-duration: 60s;
 
    
    animation-iteration-count: infinite;
    
    --animation-direction: alternate;
}

.slides img{
    width: 90%;

    opacity: 0.01;
    
}
@keyframes opacityAnimation {
    from {
        background:no-repeat center/90% url(../img/slide1.jpg);
    }
    30% {
        background:no-repeat center/90% url(../img/slide1.jpg);
    }
    33%{
        background:no-repeat center/90% url(../img/slide2.jpg);
    }
    63% {
    
        background:no-repeat center/90% url(../img/slide2.jpg); 
    }
    66% {
    
        background:no-repeat center/90% url(../img/slide3.jpg); 
    }

    97% {
    
        background:no-repeat center/90% url(../img/slide3.jpg); 
    }
    to{
        background:no-repeat center/90% url(../img/slide1.jpg);
    }
}
.welcome{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    padding: 1rem;
    width: 60%;
    margin: auto;
    text-align:justify;
    overflow: hidden;
    
}
.welcome img{
    float: left;
    margin: 0 1rem 0.5rem 0;
    width: 20%;
}
#savoirPlus {
    background-color: #ccb861;
    color: white;
    text-decoration: none;
}


.welcomSection {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    width: 60%;
    text-align:justify;
    margin: auto;
    overflow: hidden;
    padding: 5px;
}

.welcomSection figure{
    width: 120px;
    float:left;
    margin: 0px;
    padding-right: 10px;

}

.welcomSection figure img{
    width: inherit;
}


.welcomSection form{
    text-align: right; 
}
.welcomSection form button{
    text-align: right; 
    background-color: #ccb861;
    color: white;
    border: none;
    padding: 5px 10px;
}
.decouvrer {
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 90%;
    text-align: center;
    color: white;
    --filter: brightness(40%);
    --background:no-repeat center/100% url(../img/discover.jpg); 
    --background-color: rgba(0, 0, 100, 0.5);
    background-position: center;
    background-size: cover;

    background-image:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) , url(../img/discover.jpg);
}
.decouvrer button{
    background-color: #ccb861;
   filter: none;
    border: none;
    padding: 5px 10px;

}
.services {
    text-align: center;
}
.figures{
    width: 90%;
    display: grid;
    justify-content: space-around;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.figures img{
    width: 100%;
}
.figures figcaption{
    text-align: center;
}
.experience {
    width: 90%;
    margin: auto;
}

.experience h1{
    text-align: center;
}
.experience span{
    color: #ccb861;
}
.experience video{
    float: right;
    width: 30%;
}
.contacter{
    text-align: center;
    width: 50%;
    margin: auto;
}
.contacter form{
    text-align: left;
    
}
.contacter textarea {
    width: 100%;
}
.contacter div {
    margin: auto;
    text-align: center;
}
.contacter button{
    background-color: #ccb861;
   filter: none;
    border: none;
    padding: 5px 10px;

}
--.decouvrer *:not(.nofading){
 --   filter: brightness(40%);
--}