footer {
    background-color: #85929e;;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 0px;
}
.footerMenuResaux{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    
}
.footerNav{
    --width: 60%;
}
.footerNav ul{
     display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;

    
    

} 
.footerNav a{
    text-decoration: none;
    color: #fff;
}
.footerNav li {
    list-style: none;
    margin: 1rem;
}
.wrapper {
    --display: flex;
    --justify-content: space-between;
    
}
.wrapper i {
    margin-right: 3rem;
 }
.wrapper a i {
 color:white;
 }
.wrapper::after{
    clear:both;
}

.reseaux{
    width: 30%;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.reseaux button{
    background-color: #ccb861;
    color: white;
    filter: none;
    border: none;
    padding: 5px 10px;

}
#important{
    font-size: xx-small;
}