
    main{
        width: 90%;
        margin: auto;
    }
    .tableActivite{
        text-align: center;
        
    }
    .tableActivite table{
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        border: 2px solid #85929e;
        margin-bottom: 2rem;
    }
    .tableActivite td{
        border: 1px solid #85929e;
    }
    .tableHead {
        background-color: #ccb861;
        color: white;
        border: 2px solid #85929e;
    }
    .main_row {
        border-top: 2px solid #85929e;
    }

    