footer {
    background-color: #85929e;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 0px;
}
@media all and (max-width: 768px) {
    .footerMenuResaux{
        flex-direction: column;
    }
    .footerNav ul{
        flex-direction: column;
   } 
   .reseaux{
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    }
    .wrapper {
        
        justify-content:space-around;
        
    }
}
@media all and (min-width: 769px) {
    .footerNav li {
        margin-left: 0.5rem;
    }
    .reseaux{
        width: 170px;
        margin: 0px;
        padding: 0px;
        text-align: left;
    }
    .wrapper {

        justify-content: space-between;
        
    }
}
.footerMenuResaux{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    
}
.footerNav{
    --width: 60%;
}
.footerNav ul{
     display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
} 
.footerNav a{
    text-decoration: none;
    color: #fff;
}
.footerNav li {
    list-style: none;
    
}
.wrapper {
    display: flex;

    
}
.wrapper i {
    --margin-right: 3rem;
 }
.wrapper a i {
 color:white;
 }
.wrapper::after{
    clear:both;
}


.reseaux button{
    background-color: #ccb861;
    color: white;
    filter: none;
    border: none;
    padding: 5px 10px;

}
#important{
    font-size: xx-small;
}