main{
    width: 90%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
#carouselExampleControls{

    border-bottom: 2px solid #ccc;
    padding-bottom: 1rem;
}

.welcomSection {

    
    text-align:justify;
    margin: auto;
    overflow: hidden;
    padding-bottom: 1rem;
    margin-top: 1rem;

    --margin-bottom: 1rem;
}

@media all and (min-width: 769px) {
    .welcomSection {
        width: 70%;
        margin: auto;
    }
    .welcomSection div{
        width: 250px;
        float:left;
        margin-right: 1rem;
    } 
    .welcomSection form{
        text-align: right; 
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    .welcomSection div{
        width: 80%;
        margin: auto;
    } 
    .welcomSection  h1{
        text-align: center;
    }
    .welcomSection div img{
        padding-bottom: 1rem;
    }
}
@media all and (max-width: 480px) {
    .welcomSection div{
        width: 100%;
        margin: auto;
    } 
    .welcomSection  h1{
        text-align: center;
    }
    .welcomSection div img{
        padding-bottom: 1rem;
    }
}
.welcomSection div{
    text-align: center;
}
.welcomSection div img{
    width: 100%;
}
.welcomSection form button{
    text-align: right; 
    background-color: #ccb861;
    color: white;
    border: none;
    margin-top:1rem;
    padding: 5px 10px;
}
.borderSections{
    width: 100%;

    border-top: 2px solid #ccc;

}
@media all and (min-width: 769px) {
    .decouvrer {
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
        
        color: white;
        background-position: center;
        background-size: cover;
        background-image:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) , url(../img/discover.jpg);
    }
     .decouvrer button{
        background-color: #ccb861;
        color: white;
        filter: none;
        border: none;
        padding: 5px 10px;
        margin-top: 5rem;
    
    }
    .decouvrer .nofading{
        width: 90%;
    }
    .decouvrer h2{
        text-align: center;
        text-transform: uppercase;
    }
}
@media all and (max-width: 768px) {
    .decouvrer {
        margin: auto;
    }
    .decouvrer h2{
        text-align: center;
    }
    .decouvrer button{
        background-color: #ccb861;
        color: white;
        filter: none;
        border: none;
        text-align: left;
        padding: 5px 10px;
        margin-top: 1rem;
     }
}
.decouvrer .nofading{
    text-align: justify;
    margin: auto;
}

.services {
    text-align: center;
    font-weight:bold;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-top: 1rem;

}

.figuresDeServices{
    
    display: flex;
    justify-content: space-around;
    
}
@media all and (max-width: 768px) {
    .figuresDeServices{
        flex-direction: column;
    }
    
}
@media all and (min-width: 769px) {
    .figuresDeServices div{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}


.figuresDeServices img{

    width: 100%;
}
.figuresDeServices figcaption{

    margin: 1rem;
}
.figuresDeServices a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.experience
{   display: flex;
    text-align: justify;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 2px solid #ccc;
  }
 @media all and (max-width: 768px) {
    .experience{
       flex-direction: column;
    }
}
@media all and (min-width: 769px) {
    .experience video{
        margin-left: 1rem;
        --aspect-ratio: 16 / 9;
        --width:150%;
    }
    .experience span{
        color: #ccb861;
        
    }
}
.experience h3{
    text-align: center;
    
}




.contacter{
    text-align: center;
    width: 50%;
    margin: auto;
    
}
.contacter form{
    text-align: left;
    
}
.contacter textarea {
    width: 100%;
}
.contacter div {
    margin: auto;
    text-align: center;
}
.contacter button{
    background-color: #ccb861;
   filter: none;
    border: none;
    padding: 5px 10px;
    color: white;

}
.map{
    
    margin: auto;
    text-align: center;
    border-top: 2px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
map iframe{
    width: 100%;
}

