body {
	background-color: #ccc;
	text-align: center;
	
}
form  {
	display: flex;
	justify-content: center;
	
}
@keyframes backgroundColorAnimation {
                from {
                    background-color: red;

                }
                to {
                    background-color: blue;
                    
                }
            }
form:hover{
           
      
    animation-name: backgroundColorAnimation;
    animation-duration: 2s;
}