
.main{
    
    /* display: flex; */
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    /* text-align: center; */
}
.head {
    text-align: center;
    /* font-family: 'PT Sans Narrow', sans-serif, bold; */
}
.head  h1,h2 {
    margin: 0px;
    /* font-family: 'PT Sans Narrow', sans-serif, bold; */
}
.aside {
    width: 260px;
    margin-right: 2rem;
    float:left;
}
.content {
    text-align: justify;
}
.contact{
    width: inherit;
    text-align: center;
}
.contact ul{
    display: inline-block;
    text-align: left;
    padding: 0px;
    list-style: none;
}
.contact li{
    padding: 3px;
    margin: 5px;
}
.competences p{
    margin: 0px;
}
.competences h4{
    margin: 0px;
}
.competences h3{
    margin-bottom: 0px;
    
}
.competences div{
    margin: 0.7rem;
    display: inline-block;
}
.langues table{
    margin: 1rem;
}
.langues {
 display: inline-block;
}
.photo{
    text-align: center;
    margin-top: 2rem;
    /* margin:  auto; */
    
    
}
.photo img{
    width: 200px;
    /* width: inherit; */
    
}
.formation h3,p{
    margin: 0px;
}
.experience h3, p{
    margin: 0px;
}
.formation h2{
    margin-top: 2rem;
}
.experience h2{
    margin-top: 2rem;
}
article {
    margin: 1rem;
}
td{
    padding-right: 15px;
    padding-bottom: 10px;
}
.lang{
    font-weight:bold;
}
a{
    text-decoration: none;
    color: navy;
}
.games{
    display: flex;
    justify-content: space-between;
}
.ulTechLead li{
    overflow: auto
}
.ulTechLead{
    overflow: auto
}