.main{
    display: flex;
    background-color: aquamarine;
    font-family: 'Open Sans', sans-serif;
    /* text-align: center; */
}
.aside {
    width: 300px;
    
}
.content {
    text-align: center;
}
.contact{
    text-align: center;
}
.contact ul{
    display: inline-block;
    text-align: left;
    padding: 0px;
    list-style: none;
}
.contact li{
    padding: 3px;
    margin: 5px;
}
.competences p{
    margin: 0px;
}
.competences h4{
    margin: 0px;
}
.competences div{
    margin: 1rem;
}
.photo{
    text-align: center;
    margin-top: 2rem;
    /* margin:  auto; */
    
    
}
.photo img{
    width: 200px;
    /* width: inherit; */
    
}