.main{
    text-align: justify;
    display: flex;
    background-color: aquamarine;
    font-family: 'Open Sans', sans-serif;
    /* text-align: center; */
}
.head {
    text-align: center;
    /* font-family: 'PT Sans Narrow', sans-serif, bold; */
}
.head  h1,h2 {
    margin: 0px;
    /* font-family: 'PT Sans Narrow', sans-serif, bold; */
}
.aside {
    width: 250px;
    
}
.content {
    text-align: center;
}
.contact{
    width: inherit;
    text-align: center;
}
.contact ul{
    display: inline-block;
    text-align: left;
    padding: 0px;
    list-style: none;
}
.contact li{
    padding: 3px;
    margin: 5px;
}
.competences p{
    margin: 0px;
}
.competences h4{
    margin: 0px;
}
.competences div{
    margin: 1rem;
    display: inline-block;
}
.langues table{
    margin: 1rem;
}
.langues {
 display: inline-block;
}
.photo{
    text-align: center;
    margin-top: 2rem;
    /* margin:  auto; */
    
    
}
.photo img{
    width: 200px;
    /* width: inherit; */
    
}
.formation h3,p{
    margin: 0px;
}
.experience h3, p{
    margin: 0px;
}
article {
    margin: 1rem;
}
