.main{
    display: flex;
    background-color: aquamarine;
    /* text-align: center; */
}
.aside {
    float: left;
}
.content {
    text-align: center;
}
.contact{
    text-align: center;
}
.contact ul{
    display: inline-block;
    text-align: left;
    padding: 0px;
    list-style: none;
    
}

.photo{
    text-align: center;
    margin-top: 2rem;
    /* margin:  auto; */
    
    
}
.photo img{
    width: 200px;
    /* width: inherit; */
    
}